.card-movie-sidebar{
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
    background-color: #2F2E2E;
    .info-card-sidebar{
        width: 90%;
        margin-left: 1.2rem;
        .info-card-sidebar-title{}
        .other-info-card-sidebar{
            display: flex;
            flex-direction: row;
            align-items: center;
            .other-info-card-sidebar-rate{
                font-size: 0.8rem;
                padding: 0.3rem 0.4rem 0.3rem 0.4rem;
                border-radius: 0.2rem;
                border: 0.07rem solid rgba(255, 255, 255, 0.37);
                background-color:black ;
            }
            .other-info-card-sidebar-year{
                font-size: 0.8rem;
                margin-left: 0.7rem;
            }
        }
    }
    &:hover{
        background-color: #1f1e1e;
    }
}