.info-detail-movie{
    padding: 2rem;
    .detail-movie{
        display: flex;
        flex-direction: row;
        .poster-detail-movie{
            width: 16%;
        }
        .infomation{
            width: 70%;
            padding-left: 3rem;
        
           display: flex;
           flex-direction: column;
           .title{
            font-size: 1.8rem;
            font-weight: 700;
           }
           .base-info{
            font-size: 1.4rem;
            padding-top: 0.6rem;
            color: rgba(255, 255, 255, 0.678);
            padding-bottom:1.5rem;
           }
           .rate{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-top: 1.6rem;
                padding-bottom: 1.6rem;
                border-bottom: 1px solid rgba(255, 255, 255, 0.349);
                border-top: 1px solid rgba(255, 255, 255, 0.349);
                .count-star{
                    font-size: 1.5rem;
                    padding: 0.5rem 1.1rem 0.5rem 1.1rem;
                    background-color: #363636;
                
                }
                .action-rate{
                    padding-left: 1rem;
                }
                .rate-of-me{
                    margin-left: 1rem;
                    padding: 0.3rem 0.8rem 0.3rem 0.8rem;
                    background-color: #363636;
                    border-radius: 0.1rem;

                }

           }
           .category{
            margin-top: 1.5rem;
            span{
                padding: 1.5rem;
            }
           }
        }
    }
    .movie-description{
        margin-top:1.5rem;
        .title{
            font-size: 1.3rem;
            font-weight: 700;
            padding-bottom: 1rem;
        }
        .article{
            color: white;
        }
    }
    .movie-director{
        margin-top:1.5rem;
        .title{
            font-size: 1.3rem;
            font-weight: 700;
            padding-bottom: 1rem;
        }
        .avatar{
            display: flex;
            flex-direction: row;
            align-items: center;
            .info-director{
                padding-left: 0.5rem;
                .name-director{
                    font-size: 0.9rem;
                    font-weight: 700;
                }
                .age-director{
                    font-size: 0.8rem;
                    color: rgba(255, 255, 255, 0.671);
                }
            }
        }
    }
    .movie-actor{
        margin-top:1.5rem;
        .title{
            font-size: 1.3rem;
            font-weight: 700;
            padding-bottom: 1rem;
        }
        .list-actor{
            // display: flex;
            // flex-direction: row;
            // align-items: center;
            
                .avatar{
                    padding: 1rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .info-actor{
                        padding-left: 0.5rem;
                        .name-actor{
                            font-size: 0.9rem;
                            font-weight: 700;
                        }
                        .age-actor{
                            font-size: 0.8rem;
                            color: rgba(255, 255, 255, 0.671);
                        }
                    }
                }
            
        
        }
      
        
    }
}
.ant-rate-star-zero{
    div{
        div{
            span{
                color: white;
            }
        }
    }
}
.ant-rate-star-half{
    div{
        .ant-rate-star-second{
            span{
                color: white;
            }

        }
    }
}
.react-multiple-carousel__arrow {
   background-color: rgba(255, 255, 255, 0.397);
    color: white;
    font-weight: 700;
    
    &:hover{
        background-color:rgba(255, 255, 255, 0.2) ;
    }
}
.react-multiple-carousel__arrow--right {
    right: 0;
}
.react-multiple-carousel__arrow--left{
    left: 0;
} 