.side-bar-right{
    padding-bottom: 1rem;
    margin-top: 3rem;
    padding-left:1rem ;
    padding-right: 1rem;
    border-left: 1px solid rgba(255, 255, 255, 0.281);
    .list-movie-sidebar-right{
        margin-top: 1rem;
        .title-list-movie-sidebar-right{
            font-size: 1.3rem;
            margin-bottom: 1rem;
    
        }
    }
 
}